@import 'tailwindcss';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


@theme {
    --color-proximo-50: #f0fdfa;
    --color-proximo-100: #ccfbf1;
    --color-proximo-200: #99f6e4;
    --color-proximo-300: #5eead4;
    --color-proximo-400: #2dd4bf;
    --color-proximo-500: #14b8a6;
    --color-proximo-600: #0d9488;
    --color-proximo-700: #0f766e;
    --color-proximo-800: #115e59;
    --color-proximo-900: #134e4a;
    --color-proximo-950: #042f2e;
  }
  
  [x-cloak] { display: none !important; }